################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.env
/backend/bin/
/backend/obj/
/backend/Debug/
/backend/Debug/net9.0/
/backend/node_modules/
/javascriptBackend/.env
/javascriptBackend/node_modules