################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.env
/javascriptBackend/.env
/javascriptBackend/node_modules