################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.env
/backend/bin/
/backend/obj/Debug//net9.0/
/javascriptBackend/.env
/javascriptBackend/node_modules