.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  --button-primary-hover: #fff;
  --button-secondary-hover: #000;
}

.formContainer {
  margin-top: 10px;
}

.tableContainer {
  margin-top: 20px;
}

.sendToSheetButton {
  margin-top: 15px;
}

.variableClassList {
  margin: 20px 0;
  padding: 15px 20px 0 20px;
  border-radius: 8px;
  border-top: 1px solid var(--button-primary-hover);
}

.variableClassList .buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.variableClassList .buttonContainer button {
  width: 100%;
}

.variableClassRow {
  display: block;
}

.variableClassContainer {
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.variableClassContainer button, .sendToSheetButton, .deleteAllButton, .deleteButton {
  cursor: pointer;
  border: 1px solid var(--button-primary-hover);
  background-color: inherit;
  border-radius: 5px;
  transition: 0.3s ease-out;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.variableClassContainer button:hover, .sendToSheetButton:hover, .deleteAllButton:hover, .deleteButton:hover {
  background-color: var(--button-primary-hover);
  color: var(--button-secondary-hover);
}

.variableClassContent {
  /* height: 100%;
  max-height: 500px;
  overflow-y: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: var(--button-secondary-hover);
  border: 1px solid var(--button-primary-hover);
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.variableClassItem {
  padding: 0.5rem;
  display: flex;
}

.variableKey {
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(--gray-rgb);
}

.variableValue {
  color: var(--button-primary-hover);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--button-secondary-hover);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 90%;
  max-width: 700px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.classKeySelect {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--button-primary-hover);
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.submitButton {
  padding: 8px 16px;
  background-color: var(--button-primary-hover);
  color: var(--button-secondary-hover);
  border: 1px solid var(--button-primary-hover);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--button-secondary-hover);
  border: 1px solid var(--button-primary-hover);
  color: var(--button-primary-hover);
}

.submitButton:disabled {
  background-color: transparent;
  border: 1px solid var(--gray-alpha-200);
  color: var(--gray-alpha-200);
  cursor: not-allowed;
}

.actionButtons {
  margin-top: 20px;
}

.payloadContainer {
  margin-top: 5px;
}

.modalPayload h5 {
  padding: 10px;
  margin: 0;
  color: var(--button-primary-hover);
  position: relative;
  top: 2px;
  border-top: 1px solid var(--button-primary-hover);
  border-radius: 10px;
  z-index: 0;
  width: 100%;
  background-color: inherit;
}

.payloadContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--button-secondary-hover);
  border: 1px solid var(--button-primary-hover);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.payloadContent .variableValue b {
  display: none;
}

.payloadContent .variableValue {
  display: flex;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationControls .pageIndicator {
  margin: 0 10px;
  font-size: 16px;
}

.hideButtonContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.hideButton h2 {
  margin-right: 5px;
  font-weight: 500;
  font-size: 16pt;
}

.hideButton {
  display: flex;
  align-items: center;
  font-size: 12pt;
  background-color: transparent;
  color: var(--gray-alpha-200);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
}

.hideButton:hover {
  color: var(--button-primary-hover);
}