.container {
    margin: auto;
    max-width: 300px;
    width: 100%;
}

.container td {
    padding: 2px;
    font-size: 10pt;
    font-weight: 400;
}

.container td:nth-child(-n + 2) {
    text-align: left;
    padding-right: 10px;
}

.container td:nth-child(-n + 1) {
    text-align: right;
}

.container .table {
    margin: auto;
}

.container h2 {
    text-align: center;
}

.footerSettings {
    text-align: center;
}

.table tr td {
    width: 100%;
    max-width: 300px;
}

.table td input[type="text"],
.table td select[name="selectorMode"] {
    width: 100%;
    padding: 4px;
    background-color: inherit;
    border: 0.5px solid #fff;
    border-radius: 4px;
}

.table td input[name="intentRange"] {
    padding: 4px;
    background-color: inherit;
    border: 0.5px solid #fff;
    border-radius: 4px;
}

.saveButton {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: inherit;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

.saveButton:hover {
    background-color: #fff;
    color: #000;
}